
<form action="/products/" method="post">
 <p> name: <input type="text" name="name"> </p>
 <p>  price: <input type="text" name="price"> </p>
 <p>  description: <input type="text" name="description"> </p>

 <p>  supplier_id: <input type="text" name="supplier_id"> </p> 
<!--  <p>  user_id: <input type="text" name="user_id" value="1"> </p> -->
 <p>  <input type="submit" value="Create new product"> </p>
</form>

