
<form action="/products/" method="post">
  name: <input type="text" name="name">
  price: <input type="text" name="price">
  description: <input type="text" name="description">
  supplier_id: <input type="text" name="supplier_id">
  <input type="submit" value="Create new product">
</form>

